:root {
  /* TEXT */
  --veryDarkBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);

  --veryDarkGray: hsl(237, 12%, 33%);
  --darkGrayBlue: hsl(240, 6%, 50%);

  /* GRADIENT */
  --softViolet: hsl(273, 75%, 66%);
  --softBlue: hsl(240, 73%, 65%);

  /* DIVIDERS */
  --lightGrayBlue: hsl(240, 5%, 91%);

  /* TYPOGRAPHY */
  --kumbhSans: "Kumbh Sans", sans-serif;
}

body {
  font-size: 12px;
  font-family: var(--kumbhSans);
  background-image: linear-gradient(var(--softViolet), var(--softBlue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  text-align: center;
}

h1 {
  padding: 10px 0;
}

h2 {
  font-weight: 300;
}

h2:active {
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
}

p {
  display: none;
}

footer {
  display: none;
}

.card {
  background-color: white;
  border-radius: 10px;
}

.card-img {
  position: relative;
  bottom: 50px;
}

.accordion {
  padding: 20px;
}

.accordion-item {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--lightGrayBlue);
}

.accordion-item h2 {
  cursor: pointer;
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
}

.accordion-item .icon-arrow {
  margin-left: auto; /* Push the icon to the right */
  display: none; /* Hide the icon by default */
  width: 6px; /* Set width for the icon */
  height: 6px; /* Set height for the icon */
}

.accordion-item.active .icon-arrow {
  display: block; /* Show the icon when active */
}

.accordion-item p {
  display: none;
  padding: 10px;
}

.accordion-item.active h2 {
  font-weight: 700; /* Make the font bolder when active */
}

.accordion-item.active p {
  display: block;
}
